/* палитра цветов
Основной цвет текста #212121;
Вторичный цвет текста #757575;
Акцентный цвет #2196F3;
Белый цвет #ffffff;
цвет фона #F5F4FA;
цвет фона темный для футера и героя #2F303A;
цвет с прзрачностью на майл и тел в футере rgba(255, 255, 255, 0.6);
*/

:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;

  --bgc-color: #f5f4fa;
  --bgc-hero-footer: #2f303a;
  --address-info-footer: rgba(255, 255, 255, 0.6);
}

/* Styles for index.html */
body {
  color: var(--primary-text-color);
  background-color: var(--white-color);

  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}
.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* CONTAINER */

.container {
  margin-left: auto;
  margin-right: auto;

  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 2px solid rgb(4, 184, 37); */
}

.logo {
  color: var(--accent-color);

  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
}

.logo-dark {
  color: var(--primary-text-color);
}

/* index.html */
.header {
  background-color: var(--white-color);
}
.nav {
  display: flex;
  align-items: center;

  border-bottom: 1px solid #ececec;
}

.site-nav {
  display: flex;
  margin-left: 93px;

  /* outline: 1px solid greenyellow; */
}

.site-nav .nav-item + .nav-item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.feedback {
  display: flex;
  margin-left: auto;
}

.feedback-item + .feedback-item {
  margin-left: 50px;
}

.feedback .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.feedback .link:hover,
.feedback .link:focus {
  color: var(--accent-color);
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bgc-hero-footer);
  text-align: center;

  /* outline: 2px solid greenyellow; */
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.btn {
  display: inline-block;
  border-radius: 4px;

  padding: 10px 32px;
  min-width: 73px;
}

.hero-button {
  color: var(--white-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/* works */
.section-works {
  padding-top: 0;
}
.image {
  display: block;
  width: 100%;
}

.works {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.works-item {
  flex-basis: calc(100% / 3 - 30px);

  margin-left: 30px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--primary-text-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* section-team */
.section-team {
  background-color: var(--bgc-color);
}

/* Features */
.features {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
}

.features-item {
  flex-basis: calc(100% / 4 - 30px);

  margin-left: 30px;

  /* background-color: coral; */
}

.features-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--primary-text-color);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--text-color);

  font-size: 14px;
  line-height: 1.71;
}

/* team */

.section-title .teams {
  margin-top: 0;
  margin-bottom: 94px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item > .image {
  margin-bottom: 0;
}
.team-box {
  margin: 0;
  padding: 30px;

  text-align: center;
  background-color: var(--white-color);
}

.team-title {
  margin: 0;
  margin-bottom: 10px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-text {
  margin: 0;
  padding: 0;
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.19;
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bgc-hero-footer);
}

.logo-light {
  color: var(--white-color);
}

.contacts .address.link.down {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 9px;
  color: var(--white-color);
}

.contacts .link.down {
  display: inline-block;
  margin-bottom: 9px;
  color: var(--address-info-footer);
}

.contacts .link {
  color: var(--address-info-footer);
}

.contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

/* portfolio.html */
.section-filter {
  /* background-color: coral; */
}

.filter {
  display: flex;
  justify-content: center;
}
.filter-item + .filter-item {
  margin-left: 8px;
}

.filter-button {
  margin-bottom: 50px;

  color: var(--primary-text-color);
  background-color: var(--bgc-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.cards-item {
  width: 370px;
  margin: 15px;
}

.cards-title {
  color: var(--primary-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.cards-text {
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.88;
}
