/* палитра цветов
Основной цвет текста #212121;
Вторичный цвет текста #757575;
Акцентный цвет #2196F3;
Белый цвет #ffffff;
цвет фона #F5F4FA;
цвет фона темный для футера и героя #2F303A;
цвет с прзрачностью на майл и тел в футере rgba(255, 255, 255, 0.6);
*/

:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;

  --bgc-color: #f5f4fa;
  --bgc-hero-footer: #2f303a;
  --address-info-footer: rgba(255, 255, 255, 0.6);
}

/* Styles for index.html */
body {
  color: var(--primary-text-color);
  background-color: var(--white-color);

  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* CONTAINER */

.container {
  margin-left: auto;
  margin-right: auto;

  width: 1200px;

  outline: 2px solid rgb(4, 184, 37);
}

.logo {
  color: var(--accent-color);

  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
}
.logo-dark {
  color: var(--primary-text-color);
}

/* index.html */
.header {
  padding-top: 24px;
  padding-bottom: 25px;

  background-color: aqua;
}

.site-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.list {
  padding: 0;
  margin: 0;

  list-style: none;
}
.link {
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.feedback .link {
  color: var(--text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.feedback .link:hover,
.feedback .link:focus {
  color: var(--accent-color);
}
.hero {
  background-color: var(--bgc-hero-footer);
  text-align: center;

  outline: 2px solid greenyellow;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.btn {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 73px;
}

.hero-button {
  color: var(--white-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
}

.section-features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-works {
  padding-top: 0;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--primary-text-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* section-team */
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--bgc-color);
}

.features-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--primary-text-color);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--text-color);

  font-size: 14px;
  line-height: 1.71;
}

.section-title.teams {
  margin-top: 0;
  margin-bottom: 94px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-title {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-text {
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.19;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bgc-hero-footer);
}

.logo-light {
  color: var(--white-color);
}

.contacts .address.link.down {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 9px;
  color: var(--white-color);
}

.contacts .link.down {
  display: inline-block;
  margin-bottom: 9px;
  color: var(--address-info-footer);
}

.contacts .link {
  color: var(--address-info-footer);
}

.contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

/* portfolio.html */
.section-filter {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: coral;
}

.filter-button {
  color: var(--primary-text-color);
  background-color: var(--bgc-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.cards-title {
  color: var(--primary-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.cards-text {
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.88;
}
